In [1]:
import pandas as pd

batches = {
    "batch0" : "large streams, small tasks",
    "batch1" : "large streams, large tasks",
    "batch2" : "small streams, large tasks",
    "batch3" : "small streams, small tasks",
}

endings = {
    "noboth" : (False, False),
    "nosec" : (False, True),
    "nored" : (True, False),
    "" : (True, True)
}

dfs = {}

for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = pd.read_csv(f"{batch_name}_{ending}.csv")
        
        if batch_name not in dfs:
            dfs[batch_name] = {}
            dfs[batch_name][ending] = df[["Testcase", "Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]
        else:
            dfs[batch_name][ending] = df[["Testcase", "Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]

In [11]:
dfs["batch0"]["nored"].sort_values(by="Testcase")

    Testcase  Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
0    batch00       13822                0.062562          1.427125
1    batch01        7319                0.115895          1.378292
10  batch010       11166                0.131407          1.696000
11  batch011       10334                0.077616          1.311083
12  batch012       13413                0.102269          1.885875
13  batch013       10283                0.098528          1.597187
14  batch014       12519                0.121185          1.710583
15  batch015       17427                0.063704          1.379813
16  batch016       12479                0.172870          1.648125
17  batch017       18068                0.046731          1.543250
18  batch018       22474                0.070710          1.493958
19  batch019        8179                0.065944          1.091458
2    batch02       18781                0.102907          1.383792
20  batch020       10655                0.095355          1.723396
21  batch021       11734                0.108194          2.167021
22  batch022       12917                0.080785          1.629750
23  batch023        9999                0.092083          1.843854
24  batch024       11675                0.109966          1.673375
3    batch03       27818                0.089009          1.866625
4    batch04       15147                0.095702          1.707125
5    batch05       21901                0.094657          1.245542
6    batch06       10584                0.097957          1.763771
7    batch07        6460                0.120278          1.867292
8    batch08       13805                0.096181          1.816396
9    batch09       11444                0.162894          1.919687

In [10]:
dfs["batch0"][""].sort_values(by="Testcase")

    Testcase  Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
0    batch00       13822                0.062562          1.427125
1    batch01        7319                0.115895          1.378292
10  batch010       11310                0.199512          1.801000
11  batch011       10362                0.083727          1.336083
12  batch012       13470                0.115639          1.902125
13  batch013       10315                0.113806          1.634687
14  batch014       12577                0.160722          1.760583
15  batch015       17513                0.083190          1.409812
16  batch016       12569                0.251620          1.754375
17  batch017       18104                0.069787          1.572417
18  batch018       22628                0.118580          1.573125
19  batch019        8262                0.104080          1.143958
2    batch02       18809                0.115306          1.398792
20  batch020       10655                0.095355          1.723396
21  batch021       12069                0.145355          2.233688
22  batch022       13047                0.158363          1.708917
23  batch023       10091                0.116713          1.902187
24  batch024       11703                0.123114          1.698375
3    batch03       27846                0.091065          1.871625
4    batch04       15177                0.113850          1.732125
5    batch05       22000                0.161602          1.313042
6    batch06       10668                0.124395          1.813354
7    batch07        6476                0.131296          1.879792
8    batch08       13833                0.115995          1.841396
9    batch09       11543                0.234745          2.019687

In [6]:
mean_bw = {}
mean_cpu = {}
mean_cost = {}
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        
        if batch_name not in mean_bw:
            mean_bw[batch_name] = {}
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean()
        else:
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean()
        
        if batch_name not in mean_cpu:
            mean_cpu[batch_name] = {}
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean()
        else:
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean()
        
        if batch_name not in mean_cost:
            mean_cost[batch_name] = {}
            mean_cost[batch_name][ending] = df["Total cost"].mean()
        else:
            mean_cost[batch_name][ending] = df["Total cost"].mean()

In [11]:
columns = ["Batch name", "Security", "Redundancy", "Cost", "Bandwidth", "CPU"]

df_result = pd.DataFrame([], columns = columns)

i = 0
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        security = "yes" if tpl[0] else "no"
        redundancy = "yes" if tpl[1] else "no"
        name = f"{batch_name} - {description}" if i % 4 == 0 else ""
        
        
        if i % 4 == 0:
            cost = mean_cost[batch_name][ending]
            cost = float("{0:.2f}".format(cost))
            bandwidth = mean_bw[batch_name][ending]
            bandwidth = float("{0:.2f}".format(bandwidth))
            cpu = mean_cpu[batch_name][ending]
            cpu = float("{0:.2f}".format(cpu))
        else:
            v2 = mean_cost[batch_name][ending]
            v1 = mean_cost[batch_name]["noboth"]
            cost = "+{0:.2f}%".format((v2-v1)/v1 * 100)
            
            v2 = mean_bw[batch_name][ending]
            v1 = mean_bw[batch_name]["noboth"]
            bandwidth = "+{0:.2f}%".format((v2-v1)/v1 * 100)
            
            v2 = mean_cpu[batch_name][ending]
            v1 = mean_cpu[batch_name]["noboth"]
            cpu = "+{0:.2f}%".format((v2-v1)/v1 * 100)
        
        df_result.loc[i] = [name, security, redundancy, cost, bandwidth, cpu]
        i += 1
df_result

,Batch name,Security,Redundancy,Cost,Bandwidth,CPU
0,"batch0 - large streams, small tasks",no,no,3822.08,0.09,1.44
1,,no,yes,+1.34%,+25.45%,+0.00%
2,,yes,no,+256.25%,+5.49%,+12.99%
3,,yes,yes,+258.10%,+36.64%,+15.93%
4,"batch1 - large streams, large tasks",no,no,17721.3,0.08,7.06
5,,no,yes,+-0.00%,+15.91%,+0.00%
6,,yes,no,+64.31%,+3.18%,+1.39%
7,,yes,yes,+64.98%,+22.16%,+1.75%
8,"batch2 - small streams, large tasks",no,no,18547.6,0.01,7.51
9,,no,yes,+0.06%,+31.29%,+0.00%
10,,yes,no,+52.86%,+33.92%,+0.21%
11,,yes,yes,+53.12%,+97.96%,+0.70%
12,"batch3 - small streams, small tasks",no,no,3713.32,0.01,1.55
13,,no,yes,+0.37%,+26.62%,+0.00%
14,,yes,no,+238.77%,+27.73%,+8.54%
15,,yes,yes,+245.32%,+85.57%,+10.57%

In [12]:
df_result.to_csv("impact_results.csv")

In [17]:
df["Bandwidth use (Mean,%)"].mean()

0.062296314285714284

In [8]:
columns = ["Batch name", "Security", "Redundancy", "Cost", "Bandwidth", "CPU"]

df_result = pd.DataFrame([], columns = columns)

i = 0
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        security = "yes" if tpl[0] else "no"
        redundancy = "yes" if tpl[1] else "no"
        name = f"{batch_name} - {description}" if i % 4 == 0 else ""
        
        
        if i % 4 == 0:
            cost = mean_cost[batch_name][ending]
            cost = float("{0:.2f}".format(cost))
            bandwidth = mean_bw[batch_name][ending]
            bandwidth = float("{0:.2f}".format(bandwidth))
            cpu = mean_cpu[batch_name][ending]
            cpu = float("{0:.2f}".format(cpu))
        else:
            v2 = mean_cost[batch_name][ending]
            v1 = mean_cost[batch_name]["noboth"]
            cost = "{0:.2f}".format(v2)
            
            v2 = mean_bw[batch_name][ending]
            v1 = mean_bw[batch_name]["noboth"]
            bandwidth = "{0:.2f}".format(v2)
            
            v2 = mean_cpu[batch_name][ending]
            v1 = mean_cpu[batch_name]["noboth"]
            cpu = "{0:.2f}".format(v2)
        
        df_result.loc[i] = [name, security, redundancy, cost, bandwidth, cpu]
        i += 1
df_result

,Batch name,Security,Redundancy,Cost,Bandwidth,CPU
0,"batch0 - large streams, small tasks",no,no,3822.08,0.09,1.44
1,,no,yes,3873.36,0.12,1.44
2,,yes,no,13616.12,0.10,1.63
3,,yes,yes,13686.72,0.13,1.67
4,"batch1 - large streams, large tasks",no,no,17721.32,0.08,7.06
5,,no,yes,17720.80,0.09,7.06
6,,yes,no,29118.20,0.08,7.16
7,,yes,yes,29236.60,0.10,7.18
8,"batch2 - small streams, large tasks",no,no,18547.6,0.01,7.51
9,,no,yes,18559.16,0.02,7.51
10,,yes,no,28351.28,0.02,7.52
11,,yes,yes,28400.40,0.03,7.56
12,"batch3 - small streams, small tasks",no,no,3713.32,0.01,1.55
13,,no,yes,3726.92,0.02,1.55
14,,yes,no,12579.48,0.02,1.69
15,,yes,yes,12822.88,0.02,1.72

In [12]:
for i in range(16):
    print(f"TC{i} ", end="")

TC0 TC1 TC2 TC3 TC4 TC5 TC6 TC7 TC8 TC9 TC10 TC11 TC12 TC13 TC14 TC15