In [1]:
import pandas as pd

batches = {
    "batch0" : "large streams, small tasks",
    "batch1" : "large streams, large tasks",
    "batch2" : "small streams, small tasks",
    "batch3" : "small streams, large tasks",
}

endings = {
    "noboth" : (False, False),
    "nosec" : (False, True),
    "nored" : (True, False),
    "" : (True, True)
}

dfs = {}

for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = pd.read_csv(f"{batch_name}_{ending}_cp.csv")
        
        if batch_name not in dfs:
            dfs[batch_name] = {}
            dfs[batch_name][ending] = df[["Testcase", "Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]
        else:
            dfs[batch_name][ending] = df[["Testcase", "Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]

In [11]:
dfs["batch0"]["noboth"].sort_values(by="Testcase")

    Testcase  Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
8    batch00        5101                0.059976          1.367125
4    batch01        4875                0.096748          1.303292
2   batch010        3581                0.105948          1.320583
3   batch011        5158                0.069089          1.279833
24  batch012        6221                0.091371          1.613375
13  batch013        4591                0.088169          1.472188
5   batch014        3670                0.106122          1.416833
23  batch015        4429                0.059306          1.252313
18  batch016        2812                0.134214          1.291875
16  batch017        5572                0.044321          1.456167
20  batch018        2899                0.057437          1.265833
17  batch019        3504                0.059648          0.988958
22   batch02        3900                0.097330          1.302542
19  batch020        5894                0.082308          1.569229
7   batch021        3979                0.089908          1.847229
10  batch022        4571                0.065460          1.425583
6   batch023        3920                0.077475          1.596979
9   batch024        4921                0.098407          1.527542
14   batch03        5934                0.076933          1.709125
15   batch04        5787                0.081126          1.632125
21   batch05        3952                0.081569          1.058667
0    batch06        5622                0.080223          1.435021
1    batch07        4116                0.106538          1.792292
11   batch08        3638                0.084545          1.674729
12   batch09        2979                0.136704          1.482187

In [10]:
dfs["batch0"]["nosec"].sort_values(by="Testcase")

    Testcase  Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
0    batch00        5093                0.059976          1.367125
14   batch01        4875                0.096748          1.303292
16  batch010        3382                0.157668          1.320583
18  batch011        5245                0.073681          1.279833
24  batch012        6066                0.097393          1.613375
15  batch013        4762                0.099569          1.472188
8   batch014        3866                0.132517          1.416833
23  batch015        4397                0.074061          1.252313
13  batch016        2790                0.203995          1.291875
7   batch017        5668                0.064632          1.456167
22  batch018        2772                0.092528          1.265833
5   batch019        3480                0.092359          0.988958
10   batch02        3758                0.106964          1.302542
17  batch020        5853                0.082308          1.569229
4   batch021        4013                0.119394          1.847229
11  batch022        4620                0.129869          1.425583
3   batch023        3927                0.089465          1.596979
21  batch024        4967                0.108985          1.527542
6    batch03        5962                0.077797          1.709125
1    batch04        5704                0.097541          1.632125
19   batch05        3893                0.132892          1.058667
2    batch06        5711                0.097801          1.435021
12   batch07        4102                0.115649          1.792292
9    batch08        3642                0.102901          1.674729
20   batch09        3028                0.192204          1.482187

In [3]:
mean_bw = {}
mean_cpu = {}
mean_cost = {}
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        
        if batch_name not in mean_bw:
            mean_bw[batch_name] = {}
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean()
        else:
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean()
        
        if batch_name not in mean_cpu:
            mean_cpu[batch_name] = {}
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean()
        else:
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean()
        
        if batch_name not in mean_cost:
            mean_cost[batch_name] = {}
            mean_cost[batch_name][ending] = df["Total cost"].mean()
        else:
            mean_cost[batch_name][ending] = df["Total cost"].mean()

In [4]:
columns = ["Batch name", "Security", "Redundancy", "Cost", "Bandwidth", "CPU"]

df_result = pd.DataFrame([], columns = columns)

i = 0
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        security = "yes" if tpl[0] else "no"
        redundancy = "yes" if tpl[1] else "no"
        name = f"{batch_name} - {description}" if i % 4 == 0 else ""
        
        
        if i % 4 == 0:
            cost = mean_cost[batch_name][ending]
            cost = float("{0:.2f}".format(cost))
            bandwidth = mean_bw[batch_name][ending]
            bandwidth = float("{0:.2f}".format(bandwidth))
            cpu = mean_cpu[batch_name][ending]
            cpu = float("{0:.2f}".format(cpu))
        else:
            v2 = mean_cost[batch_name][ending]
            v1 = mean_cost[batch_name]["noboth"]
            cost = "+{0:.2f}%".format((v2-v1)/v1 * 100)
            
            v2 = mean_bw[batch_name][ending]
            v1 = mean_bw[batch_name]["noboth"]
            bandwidth = "+{0:.2f}%".format((v2-v1)/v1 * 100)
            
            v2 = mean_cpu[batch_name][ending]
            v1 = mean_cpu[batch_name]["noboth"]
            cpu = "+{0:.2f}%".format((v2-v1)/v1 * 100)
        
        df_result.loc[i] = [name, security, redundancy, cost, bandwidth, cpu]
        i += 1
df_result

,Batch name,Security,Redundancy,Cost,Bandwidth,CPU
0,"batch0 - large streams, small tasks",no,no,4465.04,0.09,1.44
1,,no,yes,+-0.04%,+26.66%,+0.00%
2,,yes,no,+22.20%,+4.60%,+12.99%
3,,yes,yes,+25.27%,+36.50%,+15.93%
4,"batch1 - large streams, large tasks",no,no,17904.6,0.07,7.17
5,,no,yes,+1.06%,+17.57%,+-0.10%
6,,yes,no,+4.89%,+2.91%,+1.38%
7,,yes,yes,+5.14%,+22.09%,+1.73%
8,"batch2 - small streams, small tasks",no,no,17176.5,0.07,6.87
9,,no,yes,+0.68%,+21.46%,+0.00%
10,,yes,no,+10.40%,+5.45%,+2.71%
11,,yes,yes,+12.29%,+32.10%,+4.55%
12,"batch3 - small streams, large tasks",no,no,3875.72,0.01,1.55
13,,no,yes,+0.48%,+28.95%,+0.00%
14,,yes,no,+17.52%,+25.05%,+8.54%
15,,yes,yes,+30.77%,+82.96%,+10.57%

In [16]:
df = dfs["batch0"][""]
df

    Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
0         1443                0.052319          1.756250
1         1471                0.035666          2.173437
2         1741                0.068471          2.421875
3         1668                0.056689          2.318750
4         2051                0.083084          2.712500
5         1369                0.095284          4.229687
6         1925                0.048053          2.904688
7         3053                0.060029          3.592188
8         2718                0.074814          3.310938
9         1698                0.055294          2.326563
10        1330                0.084209          3.537500
11         923                0.042823          1.995313
12        1438                0.047239          2.575000
13        2234                0.057626          2.614063
14        2574                0.077551          3.029688
15         750                0.070035          2.545313
16        2725                0.060408          2.945312
17        1153                0.060606          2.362500
18        1510                0.073354          3.226563
19        1076                0.056257          1.715625
20        1093                0.075731          2.182812
21        1086                0.069479          2.920313
22         734                0.050872          1.923437
23        1395                0.067129          3.534375
24        2119                0.034386          2.946875

In [17]:
df["Bandwidth use (Mean,%)"].mean()

0.062296314285714284