In [19]:
import pandas as pd

batches = {
    "batch0" : "large streams, small tasks",
    "batch1" : "large streams, large tasks",
    "batch2" : "small streams, small tasks",
    "batch3" : "small streams, large tasks",
}

endings = {
    "" : (True, True),
    "nosec" : (False, True),
    "nored" : (True, False),
    "noboth" : (False, False)
}

dfs = {}

for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = pd.read_csv(f"{batch_name}_{ending}.csv")
        
        if batch_name not in dfs:
            dfs[batch_name] = {}
            dfs[batch_name][ending] = df[["Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]
        else:
            dfs[batch_name][ending] = df[["Total cost", 'Bandwidth use (Mean,%)', 'CPU use (Mean,%)']]

In [25]:
mean_bw = {}
mean_cpu = {}
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        
        if batch_name not in mean_bw:
            mean_bw[batch_name] = {}
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean().round(2)
        else:
            mean_bw[batch_name][ending] = df["Bandwidth use (Mean,%)"].mean().round(2)
        
        if batch_name not in mean_cpu:
            mean_cpu[batch_name] = {}
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean().round(2)
        else:
            mean_cpu[batch_name][ending] = df["CPU use (Mean,%)"].mean().round(2)

In [26]:
columns = ["Batch name", "Security", "Redundancy", "Cost", "Bandwidth", "CPU"]

df_result = pd.DataFrame([], columns = columns)

i = 0
for batch_name, description in batches.items():
    for ending, tpl in endings.items():
        df = dfs[batch_name][ending]
        security = "yes" if tpl[0] else "no"
        redundancy = "yes" if tpl[1] else "no"
        name = f"{batch_name} - {description}" if i % 4 == 0 else ""
        bandwidth = mean_bw[batch_name][ending]
        cpu = mean_cpu[batch_name][ending]
        df_result.loc[i] = [name, security, redundancy, df["Total cost"][0], bandwidth, cpu]
        i += 1
df_result

,Batch name,Security,Redundancy,Cost,Bandwidth,CPU
0,"batch0 - large streams, small tasks",yes,yes,1443,0.06,2.71
1,,no,yes,451,0.05,2.06
2,,yes,no,635,0.06,1.89
3,,no,no,752,0.05,1.89
4,"batch1 - large streams, large tasks",yes,yes,3852,0.06,8.66
5,,no,yes,2256,0.05,7.85
6,,yes,no,2857,0.06,7.66
7,,no,no,2256,0.05,7.66
8,"batch2 - small streams, small tasks",yes,yes,2688,0.06,8.92
9,,no,yes,1302,0.05,7.99
10,,yes,no,1845,0.06,7.76
11,,no,no,1855,0.05,7.76
12,"batch3 - small streams, large tasks",yes,yes,1254,0.02,3.18
13,,no,yes,444,0.01,2.08
14,,yes,no,710,0.01,1.83
15,,no,no,571,0.01,1.83

In [16]:
df = dfs["batch0"][""]
df

    Total cost  Bandwidth use (Mean,%)  CPU use (Mean,%)
0         1443                0.052319          1.756250
1         1471                0.035666          2.173437
2         1741                0.068471          2.421875
3         1668                0.056689          2.318750
4         2051                0.083084          2.712500
5         1369                0.095284          4.229687
6         1925                0.048053          2.904688
7         3053                0.060029          3.592188
8         2718                0.074814          3.310938
9         1698                0.055294          2.326563
10        1330                0.084209          3.537500
11         923                0.042823          1.995313
12        1438                0.047239          2.575000
13        2234                0.057626          2.614063
14        2574                0.077551          3.029688
15         750                0.070035          2.545313
16        2725                0.060408          2.945312
17        1153                0.060606          2.362500
18        1510                0.073354          3.226563
19        1076                0.056257          1.715625
20        1093                0.075731          2.182812
21        1086                0.069479          2.920313
22         734                0.050872          1.923437
23        1395                0.067129          3.534375
24        2119                0.034386          2.946875

In [17]:
df["Bandwidth use (Mean,%)"].mean()

0.062296314285714284